body{
  background-color:wheat;
}
h1{
  text-align:center;
  text-transform:uppercase;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:300%;
}
main{
  width:80%;
  margin-top:0;
  margin:0px auto;
  margin-left:15%;
  background-color:brown;
  color:white;
}
p{
  text-indent:5px;
  text-align:justify;
  margin-left:10px;
  margin-right:10px;
}
ul,ol{
  font-style:italic;
}
#elsobek{
  padding-top:10px;
}
h2,h3,h4{
  margin-left:10px;
}
.sidebar {
  margin:0;
  padding:0;
  width:8.3%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow:hidden;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
footer{
  width:60%;
  margin:20px auto;
}
